
body{
    background: -webkit-linear-gradient(left, #3931af, #90b961);
  }
  
  label{
    color: white;
  }
  
  h5{
    color: white;
  }
  .conatinerProfile{
    padding-top: 10vh;
    background: #f0f2f5;
  }
  .conatinerProfile .container{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 1em 0;
  }
  .col-md-4{
    background: rgb(61, 36, 31);
  }
  
  .profile-img span{
    margin: 0 0 1rem 0;
  }
  .profile-img{
    width: 10rem!important;
    display: flex;
    flex-direction: column;
    text-align: initial!important;
  }
  .profile-img img{
    width: 10rem!important;
    height: 100%;
    
  }
  .file.btn.btn-lg.btn-primary {
    width: 100%;
}
  .profile-head h5{
    color: #333;
  }
  .profile-head h6{
    color: #0062cc;
  }

  .profile-head .nav-tabs{
    margin-bottom:5%;
  }
  .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
  }
  .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
  }
  .profile-work{
    padding: 14%;
    margin-top: -15%;
  }
  .profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }
  .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }
  .profile-work ul{
    list-style: none;
  }
  .profile-tab label{
    font-weight: 600;
  }
  .profile-tab p{
    font-weight: 600;
    color: #0062cc;
  }
.conainerItemInforProfile{

  width: 50%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
.conainerItemInforProfile  .containerImage{
  display: flex;
  flex-direction: column;
}
.conainerItemInforProfile .containerImage img{
  height: 15rem;
  width: 15rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.conainerItemInforProfile .flex{
  display: flex;
  /* margin: 0.5rem 0; */
  border-bottom: 1px solid #d0d0d0;
  padding: 10px;
}
.conainerItemInforProfile .flex span:nth-child(1){
  font-size: 1rem;
  font-family: 'Prata';
  width: 25%;
  font-weight: bold;
}
.conainerItemInforProfile .flex span:nth-child(2){

    font-size: 1rem;
    font-family: 'Prata';
}

.conatinerProfile .containerTitleMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  font-family: 'Prata';
}
.conatinerProfile .title-wrap-home::after {
  content: "\203A";
  padding: .9%;
  margin-left: 10px;
}
.conatinerProfile .title-wrap-home{
  margin-right: 10px;
}
.conatinerProfile  a {
  color: #000;
  text-decoration: none;
}
.conatinerProfile form{
  width: 100%;
    display: flex;
    justify-content: center;
}
.conatinerProfile .containerTitleMenu  a:hover {
  color: #570f17;
  text-decoration: none;
}
.conainerCreateInforProfile {
  width: 50%;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border-radius: 20px;
  font-family: 'Prata';
}
.conainerCreateInforProfile .title{
  color: #000;
  margin: 1rem 0;
}
.conainerCreateInforProfile .containerRating{
  margin: 1rem 0;
}
.conainerCreateInforProfile .proile-rating{
  font-size: 1rem!important;
  color: #000;

}
.conainerCreateInforProfile .proile-rating span{
  color: #495057;
  font-size: 1rem;
  font-weight: 600;
}
.conainerCreateInforProfile span{
  color: #000;
}
.conainerCreateInforProfile .containerUserName{
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.conainerCreateInforProfile .containerUserName span:nth-child(1),.conainerCreateInforProfile .flex span:nth-child(1){
  width: 25%;
}
.conainerCreateInforProfile .flex{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0;
}
.conainerCreateInforProfile .flex input{
  flex: 1;
  padding: 5px;
  border: 1px solid #cacaca;
}
.conainerCreateInforProfile .flex input:focus,.conainerCreateInforProfile .flex input:active{
 outline: none;
}
.conainerCreateInforProfile .btnSubmit{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.conainerCreateInforProfile .profile-edit-btn{
  border: none;
  border-radius: 0;
  width: 50%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
  background: #570f17;
  margin: 1.5rem 0;
  color: #fff!important;
}
.conainerItemInforProfile .containerTabs{

  border-bottom: 1px solid #d0d0d0;
  display: flex;
  justify-content: center;

  background: #570f17;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.conatinerProfile .containerTabs .containerTabProfiles{
  width: 50%;
  justify-content: center;
  display: flex;
  padding: 10px 0;
  border-top-left-radius: 20px;
  cursor: pointer;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
 }
 .conatinerProfile .containerTabs .containerTabReviewss{
  width: 50%;
  justify-content: center;
  border-top: 1px solid #d0d0d0;
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  border-top-right-radius: 20px;
 }
 .conatinerProfile .containerAction{
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }
 .modal {

  z-index: 999999999!important;
}
.containerModalReviews .profile-edit-btn-update{

  padding: 10px!important;
  width: 20%!important;

}