
body{
    background: -webkit-linear-gradient(left, #3931af, #90b961);
  }
  
  label{
    color: white;
  }
  
  h5{
    color: white;
  }
  
  .col-md-4{
    background: rgb(61, 36, 31);
  }
  
  .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: rgb(102, 86, 86);
  
  
    background: rgb(61, 36, 31);
     
      
      /*background: rgba(255,255,255,0.04);*/
      box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
      border-radius: 20px;
      box-shadow: 0 15px 25px rgb(218, 40, 40);
  }
  .profile-img{
    text-align: center;
  }
  .profile-img img{
    width: 70%;
    height: 100%;
  }
  .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }
  .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }
  .profile-head h5{
    color: #333;
  }
  .profile-head h6{
    color: #0062cc;
  }
  .profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
  }
  .proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
  }
  .proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
  .profile-head .nav-tabs{
    margin-bottom:5%;
  }
  .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
  }
  .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
  }
  .profile-work{
    padding: 14%;
    margin-top: -15%;
  }
  .profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }
  .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }
  .profile-work ul{
    list-style: none;
  }
  .profile-tab label{
    font-weight: 600;
  }
  .profile-tab p{
    font-weight: 600;
    color: #0062cc;
  }
.containerModalReviews textarea {
  width: 100%;
}
.containerModalReviews textarea:focus,.containerModalReviews textarea:active  {
  outline: none;
}
.conainerItemInforProfile .containerBtnReviews,
.containerModalReviews .containerBtnReviews ,
.modal-content .modal-footer{
  display: flex;
  justify-content: flex-end;
}
.conainerItemInforProfile .containerBtnReviews button ,
 .containerModalReviews .containerBtnReviews button ,
 .modal-content .modal-footer buton{
  border: none;
  font-family: 'Prata';
  padding: 5px 25px;
  background: #570f17;
  border-radius: 5px;
  color: #fff;
}
.conainerItemInforProfile .containerBtnReviews button:hover ,
.containerModalReviews .containerBtnReviews button:hover,
.modal-content .modal-footer buton:hover{
  background: #9e0e0e!important;
  transition: .7s;
  cursor: pointer;

}
.conatinerProfile .containerTab{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
}
.conatinerProfile .containerTab div span{
  padding: 0 10px;
  text-transform: uppercase;
  color: #570f17;
  padding: 0 1rem;
  font-family: auto;
  font-size: .9rem!important;
 
 }
 .conatinerProfile .containerTab .containerTabProfile{
  width: 50%;
  justify-content: center;
  display: flex;
  padding: 10px 0;
  border-top-left-radius: 20px;
  cursor: pointer;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
 }
 .conatinerProfile .containerTab .containerTabReviews{
  width: 50%;
  justify-content: center;
  border-top: 1px solid #d0d0d0;
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  border-top-right-radius: 20px;
 }
 .conatinerProfile .containerInforProfile{
  /* padding: 1rem; */
 }
 .conatinerProfile .containerReviewss {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f0f2f5;
  margin: 10px;
  border-radius: 20px;
}
.conatinerProfile .containerReviewss span:nth-child(2){
  margin: 5px 0;
}
.conatinerProfile .containerReviewss .containerReviewsStart{
  display: flex;
  flex-direction: row;
}
.conatinerProfile .containerAction .btnUpdate span,
.conatinerProfile .containerAction .btnDelete span{
  font-size: 0.8rem;
  font-weight: normal;
  font-family: 'Prata';
  cursor: pointer;
  margin: 0 10px;
}
.textareaUpdateReviews{
  margin: 1rem 0;
}